/**BOOTSTRAP CUSTOMIZE**/

/*SIDE MENU*/
.just-padding {
  padding: 15px;
}

.list-group.list-group-root {
  padding: 0;
  overflow: hidden;
}

.list-group.list-group-root .list-group {
  margin-bottom: 0;
}

.list-group.list-group-root .list-group-item {
  border:none;
  margin-bottom: 0;
}
.list-group.list-group-root>.list-group-item {
  border-top:1px solid;
}

.list-group.list-group-root > .list-group-item:first-child {
  border:none;
}

.list-group.list-group-root > .list-group > .list-group-item {
  padding-left: 30px;
}

.list-group.list-group-root > .list-group > .list-group > .list-group-item {
  padding-left: 45px;
}

/*TABLE*/
.table.first-column-header > tbody > tr > td:first-child{
	color: #495057;
    background-color: #e9ecef;
}
.table td, .table th {
    padding: .5rem;
    vertical-align: middle;
}

#login_wrap {
    padding-top: 200px;
}

.card.page{
	border-radius: 0;
	border-right:0;
	border-left:0;
}

.table-input-wrapper {
	overflow: hidden;
	width: 100%;
}

.table-input th {
	white-space: nowrap;
}
.table-input tbody tr td div.row {
	margin-bottom: 0px;
}
.table-input tbody tr td div.row div.col-md-9 {
	padding-right: 0px;
}
.table-input tbody tr td:first-child {
	white-space: nowrap;
}
.table-input tbody tr td div.row a.badge.badge-light {
	height: 35px;
	background-color: #b8bfc5;
}

.sagyoform textarea {
	resize: none;
}
.sagyoform .settei-area {
	height: 400px;
	overflow-y: auto;
}
/********進捗登録画面********/
#shinchokuPage .paging-item{
	width: 45px;
}
#kyuupcPage div.datepicker table th,
#kyuupcPage div.datepicker table td{
	border: solid 1px rgb(222, 226, 230) !important;
